{{ template "_header.html" . }}
<p>
    This website is a mini-application that list all the songs from a Spotify playlist and displays an optional (non-affiliated) Beatport search link.
</p>
<p><a href="/search">Start search</a>, it will ask Spotify to authenticate this page app for an hour (oauth) to read your playlists and albums. Permission can be revoked at anytime in your Spotify account settings.</p>
<p>
    The reason I made this is that I use Spotify as one of the tools to find music to add to my DJ sets. In the past, it was possible to purchase songs directly via Spotify.
</p>
<p>
    Copy-pasting or retyping search terms into Beatport for purchasing them there is also a giant pain. So this little app makes it much more convenient for me to spend money. One would imagine that stores like Beatport would have a playlist import/purchase functionality.
</p>
<p>
    &ndash; <a href="https://twitter.com/stojg">@stojg</a>
</p>

{{ template "_footer.html" . }}